name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  build-sign-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/

      - run: npm install

      - name: Build package
        run: npm pack

      - name: Sign package with Sigstore
        uses: sigstore/gh-action-sigstore-js@v1
        with:
          input: '*.tgz'

      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
